.wrapper {
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

:root {
    --accent: #058fd3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {}

.header__inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {}

.header__btn {
    background: var(--accent);
    border: 0;
    padding: 10px 17px;
    color: white;
    border-radius: 5px;
}

.header__btn:hover {
    opacity: .9;
}

.header__btn:active {
    transform: scale(.95);
}
.table{
    max-width: 1200px;
}
.thead{
    font-size: 20px;
}
.td__number{
    text-align: center;
}
.tr{
    line-height: 25px;
    background: rgb(227, 227, 227);
}
.td{
    padding: 5px 10px;
}
.main__info-text{
    font-size: 20px;
    text-align: center;
}
.main__info-img{
    display: block;
    margin: 0 auto;
}