*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 650px;
    height: 500px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    background: none;
}
.header{
    position: relative;
    height: 70px;
    padding: 10px;
    border-bottom: 1px solid #000;
}
.main{
    padding: 10px;
    overflow: scroll;
    height: 430px;
}
h2{
    margin:10px 0;
}
button{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 130px;
    height: 50px;
    font-size: 16px;
    border-radius: 50px;
    background-color: #058fd3;
    color: white;
    font-weight: 600;
    opacity: .9;
}
button:hover{
    opacity: 1;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}
button:active{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%) scale(.95);
}
#url_name{
    font-weight: 600;
}